<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>OAuth Sample</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Main-->
    <main>
      <h1>Home Page</h1>
      <h3>Login methods</h3>
      <a href="/users/auth/github">Login with Github</a>
      <span> | </span>
      <a href="/users/auth/google">Login with Google</a>
    </main>
  </body>
</html>