<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Title-->
    <title>Home | Blogs</title>
    <!--Stylesheet-->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <!--Font Awesome-->
    <script
      src="https://kit.fontawesome.com/5cc6fb9f6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!--Header-->
    <header>
      <div class="container flex justify-between align-center">
        <a class="logo" href="/"> <span>B</span>logs</a>
        <div
          style="padding: 1rem; padding-bottom: 2rem"
          class="flec justify-between align-center"
        >
          <a
            class="btn btn-primary"
            style="margin: 0.5rem"
            href="/users/auth/google"
            >Login with google <i style="background-color: white; padding: 0.2rem; border-radius: 50%;" class="fab fa-google"></i
          ></a>
          <a
            class="btn btn-primary"
            style="margin: 0.5rem"
            href="/users/auth/github"
            >Login with github <i style="background-color: white; padding: 0.2rem; border-radius: 50%;" class="fab fa-github"></i
          ></a>
        </div>
     

      </div>
    </header>
    <!--Main-->
    <main class="home">
      <section class="hero container flex justify-between align-center">
        <div class="flex-48">
          <p class="icon"><span>B</span>logs</p>
        </div>
        <div class="flex-48">
          <a href="/blogs"
            ><button class="btn btn-secondary">Start Reading</button></a
          >
        </div>
      </section>
    </main>
  </body>
</html>